{% extends 'base.html' %}

{% block leftcontent %}
    <h6>Zadania:</h6>
    {% if tasks %}
        <table cellpadding="10">
        <tr>
            <td>Number</td>
            <td>User</td>
            <td>Algorithm</td>
            <td>Date</td>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.number_to_factor }}</td>
                <td>{{ task.user }}</td>
                <td>{{ task.algorithm }}</td>
                <td>{{ task.job_date }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}
{% endblock%}

{% block rightcontent %}
    <h6>Użytkownicy:</h6>
    {% if users %}
        <table cellpadding="10">
        <tr>
            <td>Login</td>
            <td>Data dołączenia</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.date_joined }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}
{% endblock%}