{% extends 'base.html' %}

{%  block description %}
<h1>Strona użytkownika</h1>
{% endblock %}

{% block gallery %}
    <h6>Moje zadania:</h6>
    {% if tasks %}
        <table style="float: left; width: 0">
        <tr>
            <td>Liczba</td>
            <td>Wątki</td>
            <td>Algorytm</td>
            <td>Data</td>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.number_to_factor }}</td>
                <td>{{ task.thread }}</td>
                <td>{{ task.algorithm }}</td>
                <td>{{ task.job_date }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}

    {% if elements %}
        <table style="float: left; width: 0">
        <tr>
            <td>Pierwszy czynnik</td>
            <td>Drugi czynnik</td>
        </tr>
        {% for element in elements %}
            <tr>
                <td>{{ element.first_factor }}</td>
                <td>{{ element.second_factor }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}
{% endblock%}