{% extends 'base.html' %}

{%  block description %}
<h1>Strona użytkownika</h1>
{% endblock %}

{% block gallery %}
    <h2>Moje zadania:</h2>
    {% if tasks %}
        {% for task in tasks %}
            <details>
            <summary><p>Liczba <b>{{ task.number_to_factor }}</b> przy użyciu {{ task.algorithm }} dnia {{ task.job_date }} jest w stanie {{ task.state }}</p></summary>
            {% ifequal task.state 2 %}         
                {{ task.result }}
            </p>
            {% endifequal %}
            </details>
        </br></br>  
        {% endfor %}  
    {% else %}
        <p>No tasks to show.</p>
    {% endif %}

{% endblock%}
