<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}Main{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	{% block header %}
	<header id="header"><p>Factorization</p></header>
	{% endblock %}

	<div id="container">

		<main id="center" class="column">
			<article>

			{% block content %}{% endblock %}

			</article>
		</main>

		<nav id="left" class="column">
			{% block sidebar %}
			<h3>Menu</h3>
			<ul>
			</ul>
			{% endblock %}
		</nav>

		<div id="right" class="column">
			<h3>Other</h3>
			<p></p>
		</div>

	</div>

	<div id="footer-wrapper">
		<footer id="footer"><p></p></footer>
	</div>

</body>

</html>