<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Project Description" />
    <meta name="keywords" content="Project Keywords" />
    <title>Faktoryzacja Liczb</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link href="static/css/style-ie.css" rel="stylesheet" type="text/css" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>

    <div id="header">
        <div class="wrap clearfix">
            <div id="header-logo" class="fl">
                <a href="{% url 'index' %}"><h1><span>Faktoryzacja dużych liczb</span></h1></a>
            </div><!-- // end #header-logo -->
            <div id="nav" class="fr">
                {% block menu %}
                <ul>
                    <li>
                    {% if user.is_anonymous %}
                      <a href="{% url 'django.contrib.auth.views.login' %}">Zaloguj</a>
                      {% else %}
                      <a href="{% url 'django.contrib.auth.views.logout' %}">Wyloguj</a>
                    {% endif %}
                    </li>
                    <li><a href="{% url 'index' %}">Strona główna</a></li>
                    <li><a href="{% url 'about' %}">Opis projektu</a></li>
                    <li><a href="{% url 'creators' %}">Autorzy</a></li>
                </ul>
                {% endblock %}
            </div><!-- // end #nav -->
        </div><!-- // end .wrap -->
    </div><!-- // end #header -->

    <div id="blurb">
        <div class="wrap">
            {% block description %}
            <h1>Projekt podziału dużych liczb.</h1>
            {% endblock %}
        </div><!-- // end .wrap -->
    </div><!-- // end #blurb -->

    <div id="portfolio-samples">
        <div class="wrap clearfix">
            {% block gallery %}
            <div class="portfolio-item fl col-1">
                <a href="alg1.html"><img src="static/images/al1.jpg" alt="thumb" /></a>
                <div class="info">Algorytm 1</div>
            </div><!-- // end .portfolio-item -->
            <div class="portfolio-item fl push-2 col-1">
                <a href="alg2"><img src="static/images/al2.jpg" alt="thumb" /></a>
                <div class="info">Algorytm 2</div>
            </div><!-- // end .portfolio-item -->
            <div class="portfolio-item fl push-2 col-1">
                <a href="alg3"><img src="static/images/al3.jpg" alt="thumb" /></a>
                <div class="info">Algorytm 3</div>
            </div><!-- // end .portfolio-item -->
            <div class="portfolio-item fl push-2 col-1">
                <a href="alg4"><img src="static/images/al4.jpg" alt="thumb" /></a>
                <div class="info">Algorytm 4</div>
            </div><!-- // end .portfolio-item -->
            {% endblock %}
        </div><!-- // end .wrap -->
    </div><!-- // end #portfolio-samples -->

    <div class="wrap">
        <div class="content clearfix">
            <div class="col-2 fl">
                {%  block leftcontent %}
                <h2>Tytul</h2>
                <p>Tresc</p>
                {%  endblock %}
            </div><!-- // end .col-2 .fl -->
            <div class="col-2 fr">
                {%  block rightcontent %}
                <h2>Tytul</h2>
                <p>Tresc</p>
                {%  endblock %}
            </div><!-- // end .col-2 .fr -->
        </div><!-- // end .content -->
    </div><!-- // end .wrap -->


    <div id="footer">
        <div class="wrap clearfix">
            <div class="align-right">
                {% block footer %}
                <div align="right">
                <!--<h3>Linki</h3>
                <ul>
                    <li><a href="#">www.link1.com</a></li>
                    <li><a href="#">www.link2.com</a></li>
                    <li><a href="#">www.link3.com</a></li>
                    <li><a href="#">www.link4.com</a></li>
                    <li><a href="#">www.link5.com</a></li>
                </ul>-->
                </div>
                {% endblock %}
            </div>
        </div><!-- // end .wrap -->
    </P>
        <p id="copyright" class="wrap">Open Source Web Design by <a href="http://www.myhedspace.com">Myhedspace.com</a></p>
    </div><!-- // end #footer -->

</body>
</html>